<h1 class="display-1">{{ object.title }}</h1>

<span><h2 class="display-3">Yields</h2>{{ object.yields }}</span>

<h2 class="display-3">Notes:</h2>
{{ object.notes|markdown }}

<h2 class="display-3">Ingredients</h2>
{{ object.ingredients|markdown }}

<h2 class="display-3">Directions</h2>
{{ object.directions|markdown }}

<h2 class="display-3">Tags</h2>
{% for tag in object.tags %}
	{{ tag }}{% if not loop.last %},{% endif %}
{% endfor %}
