<div class="row">
	<div class="col-xs-12">
		<h1 class="display-1">{{ object.title }}</h1>
	</div>
<div>


<div class="row">
{% if object.yields or object.tags %}
	<div class="col-xs-12 col-md-5 col-lg-4">
		<h2 class="display-5">Details</h2>
		<p>
			{% if object.yields %}
			Yields: {{ object.yields|vulgarize }}<br/>
			{% endif %}
			{% if object.tags %}
			Tags: {% for tag in object.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}<br/>
			{% endif %}
		</p>
	</div>
{% endif %}
{% if object.notes %}
	<div class="col-xs-12 col-md-7 col-lg-8">
		<h2 class="display-5">Notes</h2>
		{{ object.notes|markdown }}
	</div>
{% endif %}
</div>


<div class="row">

</div>

<div class="row">
	<div class="col-xs-12 col-md-5 col-lg-4">
		<h2 class="display-5">Ingredients</h2>
		{{ object.ingredients|vulgarize|markdown }}
	</div>

	<div class="col-xs-12 col-md-7 col-lg-8">
		<h2 class="display-5">Directions</h2>
		{{ object.directions|vulgarize|markdown }}
	</div>
</div>
