{% extends 'partials/base.html.twig' %}

{% block content %}

<style>
.recipebook-inline-list li {
	display: inline;
}
</style>

{% if grav.user.authenticated %}
	{% include 'partials/recipebook/edit_button.html.twig' %}
{% endif %}

<h1>{{ recipe.name }}</h1>

<p><strong>Notes:</strong> {{ recipe.notes|markdown }}</p>

<strong>Ingredients:</strong>
<ul>
{% for ingr in recipe.ingredients %}
	<li>{{ ingr }}</li>
{% endfor %}
</ul>

<strong>Directions:</strong>
{{ recipe.directions|markdown }}

<ul class="recipebook-inline-list">
{% for tag in recipe.tags %}
	<li>{{ tag }}</li>
{% endfor %}
</ul>

{% endblock %}
